<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>IPCA Sign In</title>
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" type="text/css" href="font/flaticon.css">
    <link rel="stylesheet" type="text/css" href="css/ipca.css">
    <script type="text/javascript">
        document.addEventListener("deviceready", onDeviceReady, false);
    </script>
</head>

<body >
    <div id="app" class="wrapper">
        <div class="header">
            <div class="left">
                <a href="#">
                <img src="images/ipca.png"></a>
            </div>
            <!-- <div class="right">
                <a href="#"></a>
            </div> -->
            <h2>{{title}}</h2>
        </div>
        <div class="logo"><img src="icon.jpg" alt="logo"></div>
        <div class="loginbox">
            <form>
                <p style="text-align: center;">{{date}}</p>
                <input type="text" name="" v-model="user" placeholder="Email Address/ Mobile No.">
                
                <br>
                <input type="password" name="" v-model="pass" placeholder="Enter Password">
                {{user}}, {{pass}}
                <br>
                <p style="text-align: right;">
                    <a href="forget.html">Forgot your password?</a>
                </p>
                <br>
                <!-- <input type="submit" name="" value="Sign In"> -->
                <button type="button" v-on:click="login()">Sign In</button>
            </form>
        </div>
    </div>
    <script type="text/javascript" src="js/axios.min.js"></script>
    <script type="text/javascript" src="js/vue.min.js"></script>
    <script type="text/javascript" src="app.js"></script>
</body>

</html>